<div class="container wrapper">
    <br>
    <h2>Get started</h2>
    <br>
    <h5>Homepage</h5>
    Enter the group's name to access the vote page.<br>
    Recent inputs are saved on the device.<br>
    <hr>
    <h5>Vote page</h5>
    Votes and comments are two separate entities. One can be used regardless of the other.<br>
    Votes are weighted from 1 to 5. If there's any mistake in your vote, revote and your last one will be considered.<br>
    For the comments, press enter to submit it.<br>
    <hr>
    <h5>Chart page</h5>
    The default period is "global". Other statistics such as "average mood" will show up in the other periods.<br>
    Period's timeframe and comments are sorted by most recent.<br>
</div>