page-charts {
    ion-content {
        background: #F1F1F1 !important;
    }

    ion-card-content{
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }

    canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
}